@model IEnumerable<Category>;

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary ">

                <i class="bi bi-patch-plus"></i> &nbsp; Create New Category
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered table-striped table-hover" style="width:100%">
       <thead>
           <tr class="table-info text-center">
               <th>
                   Category Name
               </th>
               <th>
                   Display Order
               </th>
               <th>

               </th>
           </tr>
       </thead>

       <tbody>
        @foreach (var data in Model)
        {
            <tr class="text-center">
                <td width="50%">
                    @data.Name
                </td width="30%">
                <td>
                    @data.DisplayOrder
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <a asp-controller="Category" asp-action="Edit" asp-route-id="@data.Id" class="btn btn-info mx-2"> <i class="bi bi-pencil-square"></i>Edit</a>
                        <a asp-controller="Category" asp-action="Delete" asp-route-id="@data.Id" class="btn btn-danger mx-2"> <i class="bi bi-trash"></i>Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>